:root {
  --primary-color: #ffd608;
  --secondary-color: #444;
  --text-color: #ffffff;
  --background-color: #000000;
  --menu-background: rgba(0, 0, 0, 0.8);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--background-color);
  height: 4rem;
}

nav > * {
  color: var(--text-color);
  user-select: none;
}

.nav-link {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;
}

.logo-link:hover {
  text-decoration: none;
}

.logo-text {
  color: #fff;
}

.logo-link * {
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.logo > span {
  font-size: 2.5rem;
  font-weight: 800;
}

.searchbar {
  align-items: center;
  display: flex;
  position: relative;
  min-width: 6rem;
  max-width: 30rem;
  margin: 0 auto;
}

.search-input {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: 2px solid transparent;
  outline: none;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-radius: 5rem;
  height: 3rem;
  width: 100%;
  transition: border 0.2s ease;
}

.search-input::placeholder {
  color: var(--primary-color);
}

.search-input:focus {
  border: 2px solid var(--primary-color);
}

.search-input:focus::placeholder {
  color: var(--text-color);
}

.search-icon {
  position: absolute;
  right: 0.3rem;
  display: flex;
  height: 2.4rem;
  width: 2.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-icon svg {
  height: 1.5rem;
  width: 1.5rem;
  transition: stroke 0.3s ease;
}

.search-icon:hover,
.search-icon:hover path {
  stroke: var(--text-color);
  background-color: var(--primary-color);
}

.link-dline {
  display: flex;
  flex-direction: column;
}

.nav-item > *,
.sign-text {
  font-size: 14pt;
  font-weight: 600;
}

.sign-subtitle {
  white-space: nowrap;
  font-size: 10pt;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding-inline: 0.9rem;
}

#cart-container {
  display: inline-block;
  width: auto;
  margin-left: auto; /* Push the cart container to the right */
}

.link-icon {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-right: 0.6rem;
}

.sub-link:hover {
  color: var(--primary-color);
}
.sub-link {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  position: relative;
}

.sub-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.sub-link:hover::after {
  width: 100%;
}

.down-arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
}

.down-arrow-icon svg {
  stroke: var(--text-color);
  transition: stroke 0.3s ease;
}

.down-arrow-icon svg:hover {
  stroke: var(--primary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: all 450ms ease;
}

#menu-toggle {
  display: none;
}

.lang-text {
  width: auto;
}

/* Dropdown menu styling */
.nav-item.dropdown {
  position: relative;
}

.nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  background-color: var(--menu-background);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3000;
  backdrop-filter: blur(10px);
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-item {
  cursor: pointer;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: max-content;
}

.dropdown-item:hover {
  color: var(--primary-color);
}

.dropdown-item.active {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.link-icon img {
  width: 1.5rem;
  height: auto;
}

.link-hover:hover,
.link-hover:hover .nav-link,
.link-hover:hover .cart-text,
.link-hover:hover svg,
.link-hover:hover path {
  stroke: var(--primary-color);
  color: var(--primary-color);
}

@keyframes scale {
  from {
    width: 0;
  }
  to {
    width: max-content;
  }
}
/* Mobile devices */
@media (max-width: 480px) {
  /* Add styles for mobile devices here */
  #cart-container #cart-text {
    display: none;
  }
  .logo > span {
    font-size: 1rem;
    font-weight: 600;
  }
}

/* iPads, Tablets */
@media (max-width: 768px) {
  .logo > span {
    font-size: 1.5rem;
    font-weight: 800;
  }
  nav {
    padding: 0 0.4rem;
    width: 100%;
  }
  .searchbar {
    width: 8rem;
  }
  .hamburger {
    display: block;
    color: var(--text-color);
    font-size: 30px;
  }

  .menu-links {
    border-radius: 0 0 0 0.625rem;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    width: max-content;
    background-color: var(--menu-background);
    padding: 1rem;
    margin-left: 0;
    z-index: 10;
    animation: scale 0.4s ease-in-out;
    backdrop-filter: blur(10px);
  }

  .nav-link,
  .nav-item {
    height: auto;
    width: 100%;
  }

  .nav-item {
    padding: 0.5rem 1rem;
  }

  .link-icon {
    margin-right: 1rem;
  }

  .searchbar {
    max-width: 25rem;
  }

  .search-icon {
    right: 0.3rem;
  }

  #menu-toggle:checked ~ .menu-links {
    display: flex;
    margin-left: 0;
  }
  #menu-toggle {
    margin-left: 0;
    margin-right: 0;
  }
  .menu-links li {
    margin: 0;
  }

  /* Cart item positioning */
  .menu-links {
    display: none;
    flex-direction: column;
    width: auto;
  }

  .nav-item:has(.cart-text) {
    order: -1;
    margin-bottom: 1rem;
  }
}

/* Small screens, laptops */
@media (max-width: 1024px) {
  /* Add styles for small screens and laptops here */
  .cart-text {
    display: inline;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Add styles for desktops and large screens here */
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) {
  /* Add styles for extra large screens and TVs here */
}
